@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;1,300;1,400&display=swap");
@font-face {
    font-family: "F1 regular";
    src: url(./assets/fonts/Formula1-Regular.otf);
}
@font-face {
    font-family: "F1 torque";
    src: url(./assets/fonts/Formula1-Bold.otf);
}
@font-face {
    font-family: "F1 wide";
    src: url(./assets/fonts/Formula1-Wide.otf);
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Titillium Web", sans-serif;
}
